<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Film Koleksiyonu</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Film Koleksiyonu</h1>
		<hr>
		<h2>Film Güncelleme</h2>
		<form action="#" th:action="@{/saveMovie}" th:object="${movie}"
			method="POST">
			<input type="hidden" th:field="*{id}" /> <input type="text"
				th:field="*{name}" class="form-control mb-4 col-4"> <input
				type="number" th:field="*{publicationYear}"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{type}" class="form-control mb-4 col-4"> <input
				type="text" th:field="*{description}"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{media}" class="form-control mb-4 col-4"> <input
				type="text" th:field="*{actorName}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{language}"
				class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">Update
				Movie</button>
		</form>
		<hr>
		<a class="btn btn-primary" th:href="@{/}">Back to Movie List</a>
	</div>
</body>
</html>
